@model GroupProject.Models.Dtos.SendEmailDto



<div class="container px-5 my-5 justify-content-center">
    @using (Html.BeginForm("ContactUs", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form", role = "form" }))
    {
        @Html.AntiForgeryToken()
    <div class="col-md-8">
        <h2 class="display-4"> <i class="fa-regular fa-envelope"></i> Contact us</h2>
        <hr />
        @{
            if (ViewBag.Message != null)
            {
                <!-- Alert Message -->
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    <span> <i class="bi bi-info-circle"></i></span> <strong> @ViewBag.Message</strong>
                </div>

            }
        }

        <div class="row mb-3 mx-5 py-2">
            <div class="form-group col-md-10">
                <div class="input-group">
                    <div class="input-group-text">
                        <span>@Html.LabelFor(m => m.Name, new { @class = "control-label fw-bold" })</span>
                    </div>
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control form-control-lg" , autofocus = "autofocus", placeholder = "e.g Nick Papas", maxlength = "50", required = "required" })
                </div>
                <ul class="list-unstyled">
                    <li>@Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger fw-bold" })</li>
                </ul>
                
            </div>
        </div>
        <div class="row mb-3 mx-5 py-2">
            <div class="form-group col-md-10">
                <div class="input-group">
                    <div class="input-group-text">
                        <span>@Html.LabelFor(m => m.Email, new { @class = "control-label fw-bold" })</span>
                    </div>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-lg", autofocus = "autofocus", placeholder = "e.g user@hotmail.com", maxlength = "50", required="required" })
                </div>
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger fw-bold" })
            </div>
        </div>
        <div class="row mb-3 mx-5 py-2">
            <div class="form-group col-md-10">
                <div class="input-group">
                    <div class="input-group-text">
                        <span>
                            @Html.LabelFor(m => m.Subject, new { @class = "control-label fw-bold" })
                        </span>
                    </div>
                    @Html.TextBoxFor(m => m.Subject, new { @class = "form-control form-control-lg", autofocus = "autofocus", placeholder = "e.g Problem with registration", maxlength = "25", required = "required" })
                </div>
                @Html.ValidationMessageFor(m => m.Subject, "", new { @class = "text-danger fw-bold" })
            </div>
        </div>

        <div class="row mb-3 mx-5 py-2">
            <div class="form-group col-md-10">
                <div class="input-group">
                    <div class="input-group-text">
                        <span>
                            @Html.LabelFor(m => m.Message, new { @class = "control-label fw-bold" })
                        </span>
                    </div>
                    @Html.TextAreaFor(m => m.Message, new { @class = "form-control form-control-lg", rows = 3, autofocus = "autofocus", placeholder = "Type your message here...", cols = "50", maxlength = "150", required = "required" })
                </div>
                @Html.ValidationMessageFor(m => m.Message, "", new { @class = "my-5 text-danger fw-bold" })
            </div>
        </div>
        

        <div class="col-md-3 d-flex justify-content-sm-evenly mx-5">
            <button class="btn btn-success" id="submitButton" type="submit"><i class="bi bi-send"></i> Send</button>
            <div class="vr">
            </div>
            <button class="btn btn-secondary" type="reset" id="resetForm"><i class="bi bi-x-circle"></i> Reset</button>
        </div>
    </div>


    }
</div>


